<div class="product-block collection-block caption-{{ settings.coll_captionmode }} {{ product_class }}" data-loop-index="{{forloop.index}}">

  {% assign image_size = settings.coll_prod_img_size %}

  <div class="image">
    <a href="{{ collection.url }}">
      {% if collection.image %}
      <img src="{{ collection.image.src | collection_img_url: image_size }}" alt="{{ collection.image.alt | escape }}" />
      {% else %}
      <img src="{{ collection.products.first.featured_image.src | product_img_url: image_size }}" alt="{{ collection.title | escape }}" />
      {% endif %}
    </a>
  </div>
  <div class="caption middle">
    <a href="{{ collection.url }}" class="title">{{ collection.title }}</a>
  </div>
  {% if collection.all_products_count > 0 %}
  <div class="caption lower">
    <a href="{{ collection.url }}" class="price">
      {{ collection.all_products_count }} {{ collection.all_products_count | pluralize:'item','items' }}
    </a>
  </div>
  {% endif %}
</div>

{% if product_class contains 'quarter' %}
{% cycle 'products': '','','','<div class="er"></div>' %}
{% elsif product_class contains 'third' %}
{% cycle 'products': '','','<div class="er"></div>' %}
{% elsif product_class contains 'half' %}
{% cycle 'products': '','<div class="er"></div>' %}
{% endif %}
