<div class="social-links">
  {% if settings.social_twitter_enabled %}
  <a title="Twitter" class="twitter" target="_blank" href="{{ settings.social_twitter_url }}"><i class="icon-twitter"></i><span>Twitter</span></a>
  {% endif %}
  {% if settings.social_facebook_enabled %}
  <a title="Facebook" class="facebook" target="_blank" href="{{ settings.social_facebook_url }}"><i class="icon-facebook"></i><span>Facebook</span></a>
  {% endif %}
  {% if settings.social_tumblr_enabled %}
  <a title="Tumblr" class="tumblr" target="_blank" href="{{ settings.social_tumblr_url }}"><i class="icon-tumblr"></i><span>Tumblr</span></a>
  {% endif %}
  {% if settings.social_rss_enabled %}
  <a title="RSS" class="rss" target="_blank" href="{{ settings.social_rss_url }}"><i class="icon-rss"></i><span>RSS</span></a>
  {% endif %}
  {% if settings.social_youtube_enabled %}
  <a title="Youtube" class="youtube" target="_blank" href="{{ settings.social_youtube_url }}"><i class="icon-youtube"></i><span>YouTube</span></a>
  {% endif %}
  {% if settings.social_vimeo_enabled %}
  <a title="Vimeo" class="vimeo" target="_blank" href="{{ settings.social_vimeo_url }}"><i class="icon-vimeo"></i><span>Vimeo</span></a>
  {% endif %}
  {% if settings.social_instagram_enabled %}
  <a title="Instagram" class="instagram" target="_blank" href="{{ settings.social_instagram_url }}"><i class="icon-instagram"></i><span>Instagram</span></a>
  {% endif %}
  {% if settings.social_pinterest_enabled %}
  <a title="Pinterest" class="pinterest" target="_blank" href="{{ settings.social_pinterest_url }}"><i class="icon-pinterest"></i><span>Pinterest</span></a>
  {% endif %}
  {% if settings.social_flickr_enabled %}
  <a title="Flickr" class="flickr" target="_blank" href="{{ settings.social_flickr_url }}"><i class="icon-flickr"></i><span>Flickr</span></a>
  {% endif %}
  {% if settings.social_google_enabled %}
  <a title="Google+" class="google" target="_blank" href="{{ settings.social_google_url }}"><i class="icon-googleplus"></i><span>Google+</span></a>
  {% endif %}
</div><!-- .social-links -->
